<div class="show-category">
	<div class="total-amount">
		<div>
			<p>Total Amount:</p>
			<p>$<%= @category.amount.round(2) %></p>
		</div>
		<%= render 'actions/index', locals: { deals: @deals } %>
	</div>

	<%= render @category %>

	<p style="color: green"><%= notice %></p>

	<footer class="bottom-div">
		<div>
			<%= link_to 'ADD NEW TRANSACTION', new_action_path, class: "btn text-light new-category" %>
		</div>
	</footer>
</div>